# DATABASE CONFIGURATION
PRIVATE_DATABASE_URL=postgres://user:password@host:port/dbname
PRIVATE_REDIS_CONNECTION_URL="redis://default:password@host:port/0"


# SMTP CONFIGURATION
PRIVATE_SMTP_HOST=mail.example.com
PRIVATE_SMTP_PASS=password
PRIVATE_SMTP_PORT=465
PRIVATE_SMTP_SENDER=example@example.com
PRIVATE_SMTP_USER=example@example.com


# DEFAULT ADMIN CREDENTIALS
PRIVATE_CREATE_DEFAULT_ADMIN=TRUE
PRIVATE_DEFAULT_ADMIN_EMAIL=admin@example.com
PRIVATE_DEFAULT_ADMIN_PASSWORD=password

# S3 CONFIGURATION
PRIVATE_S3_BUCKET_NAME=example-bucket
PRIVATE_S3_ACCESS_KEY=example-access-key
PRIVATE_S3_ENDPOINT=https://s3.example.com
PRIVATE_S3_SECRET_KEY=example-secret-key
PRIVATE_S3_REGION=example-region
PRIVATE_S3_USE_SSL=TRUE

# PAYPERCUT CONFIGURATION (PAYMENTS)
PUBLIC_PAYPERCUT_API_BASE_URL="https://api.paypercut.io"
PRIVATE_PAYPERCUT_API_KEY_ID=example-api-key-id
PRIVATE_PAYPERCUT_API_KEY_SECRET=example-api-key-secret



# SERVER CONFIGURATION
PUBLIC_IS_DEV=TRUE
BODY_SIZE_LIMIT=100M
PUBLIC_HOST="http://localhost:5173"
